<div class="container mt-4">
    {% if data is none %}
    <div class="alert alert-warning text-center">
        No data available.
    </div>
    {% else %}
    <div class="card d-flex flex-row">
        {% if image_url %}
        <img src="{{ image_url }}" class="card-img-left" alt="Image"
             onerror="if (this.src !== '/static/resource/avatar.png') this.src='/static/resource/avatar.png';"
             style="width: 200px; height: auto; object-fit: cover;">
        {% endif %}
        <div class="card-body">
            <h3 class="card-title">{{ title }}</h3>
            {% if is_description_url %}
                <a href="{{ description }}" class="btn btn-primary btn-sm" target="_blank">
                    Visit External Page
                </a>
            {% else %}
                <p class="card-text"> {{ description }}</p>
            {% endif %}
            {% if row_methods %}
            <div class="mt-3">
                {% for method in row_methods %}
                <a href="{{ url_for(method.endpoint, value=data[method.column_name]) }}" class="btn btn-sm btn-primary">
                    {{ method.label }}
                </a>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>

    <div class="mt-4">
        <h4>Details</h4>
        <table class="table table-bordered">
            <thead class="table-dark">
                <tr>
                    <th>Key</th>
                    <th>Data</th>
                </tr>
            </thead>
            <tbody>
                {% for key, value in details.items() %}
                <tr>
                    <td>{{ key }}</td>
                    <td>
                        {% if key in url_fields %}
                            <!-- If it's a URL field, show a button that links to the value -->
                            <a href="{{ value }}" class="btn btn-primary btn-sm" target="_blank">
                                Open {{ key }}
                            </a>
                        {% else %}
                            <!-- Otherwise, just display the value -->
                            {{ value }}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
</div>

